# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# Miscellaneous
.DS_Store
.env

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# Output directories
coverage/

# Prettier
.prettierignore
.prettierrc

# eslint
eslint.config.js

# Ignore public built files
public/browser-app.js
public/dashboard.html
public/index.html
