<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Economic Journal - June 2024</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header class="Header">
        <div class="SubHeader1">
            <h6 class="TopHeaderText1">The Economic Journal - August 2024</h6>
            <h6 class="TopHeaderText2">Finance, economic, business and entrepreneurship blogs</h6>
        </div>

        <div class="SubHeader2">
            <a href="./HomePage">
                <div class="logo scaled">
                    <img src="house_icon.jpg" alt="Logo">
                    <span class="separator"></span>
                    <h1>
                        <span class="scaled-text">THE</span>
                        <span>
                            <div class="scaled-text" style="color: #E1A054;">Economic</div>
                            <div class="scaled-text" style="color: #9F0505;">Journal</div>
                        </span>
                    </h1>
                </div>
            </a>

            <div class="authSearch">
                <a href="./signIn">Sign in</a>
                <span class="separator"></span>
                <button class="searchBTN">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <nav class="HeaderNav">
            <button class="menuToggle" aria-label="Toggle menu">☰</button>
            <ul class="menu">
                <li><a href="/Finance">Finance</a></li>
                <li><a href="/Economic">Economic</a></li>
                <li><a href="/Business">Business</a></li>
                <li><a href="/Entrepreneur">Entrepreneurship</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/ModPage">ModPage</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <section class="article-header">
                <div class="category-date">
                    <span class="category">Economic</span>
                    <span class="date">7/8/2024</span>
                </div>
                <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                <p class="author">-NAME-</p>
            </section>
            <div class="image-container">
                <img src="https://placehold.co/1000x500?text=Placeholder" alt="Article Image">
                <p class="image-source">image source</p>
            </div>
            <div class="content-wrapper">
                <section class="article-content">
                    <div class="date-info">
                        <span>date uploaded/ date updated</span>
                    </div>
                    <h3>TITLE</h3>
                    <p class="author">by -author-</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique accumsan odio vitae
                        tincidunt. Suspendisse
                        nunc sem, fermentum luctus varius sed, placerat aliquam turpis. Quisque tempus venenatis nunc et
                        elementum. Mauris
                        cursus dapibus dictum. Integer lacinia ipsum at eleifend blandit. Quisque neque erat, ultricies
                        vel
                        dignissim ac,
                        placerat convallis dolor. Phasellus faucibus bibendum libero, sed vehicula tellus consectetur
                        nec.
                        Sed diam eros,
                        elementum et lacus sed, vehicula dignissim libero. Orci varius natoque penatibus et magnis dis
                        parturient montes,
                        nascetur ridiculus mus. Mauris vitae magna feugiat, volutpat enim in, ullamcorper mi. Praesent
                        faucibus urna augue, quis
                        scelerisque sem mattis quis. Ut pulvinar diam vitae lectus sodales, ac condimentum ex feugiat.
                        Praesent vel pellentesque
                        mi, a ullamcorper nunc.

                        Integer in mauris scelerisque, posuere lectus eget, vestibulum mi. In tincidunt tincidunt
                        mollis. In
                        quis magna mollis,
                        accumsan sapien quis, malesuada lacus. Cras aliquet dignissim elit. Cras lectus nisi, consequat
                        in
                        enim at, bibendum
                        placerat sem. Nulla rutrum odio ut facilisis tempus. Vestibulum ac risus vel sem tempus
                        ullamcorper
                        vel sed lacus.
                        Praesent vel odio ornare, lobortis quam tempus, tempor est. Fusce iaculis, libero quis
                        consectetur
                        facilisis, ipsum
                        neque dictum magna, in tristique sapien odio luctus eros. Fusce nec rhoncus erat. Aenean et
                        massa
                        leo. Aenean ultricies,
                        nisl et mollis aliquam, nisi dolor mattis leo, vel euismod sem ex sodales lacus. Nam ex lorem,
                        bibendum non arcu sit
                        amet, sollicitudin venenatis quam. Proin laoreet tortor in consectetur tristique. Nam nec augue
                        eget
                        risus aliquet
                        sagittis.

                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam convallis quam magna, eget
                        consequat ante
                        sollicitudin vitae. Cras et quam ac risus efficitur pulvinar. Morbi a libero magna. Nullam
                        faucibus
                        iaculis ullamcorper.
                        Sed vel dolor malesuada, tincidunt ipsum vel, dignissim diam. Ut massa nulla, dapibus id
                        vehicula
                        et, semper auctor
                        mauris. Maecenas in ornare urna, id vestibulum erat. Donec tincidunt efficitur magna non semper.
                        Integer euismod maximus
                        felis, ultricies luctus turpis. Curabitur posuere sit amet est egestas pretium. Donec tristique
                        sem
                        nec magna fermentum
                        laoreet. Aliquam erat volutpat. Aliquam gravida turpis sollicitudin, mollis neque in, maximus
                        dolor.
                        Donec dictum
                        hendrerit sem sed lobortis.

                        Maecenas hendrerit lorem arcu, a rhoncus mi finibus sed. Maecenas imperdiet in mauris id
                        convallis.
                        Cras vestibulum nec
                        mi eget euismod. Suspendisse lectus orci, interdum et sagittis vel, sollicitudin vel felis. Ut
                        interdum, eros vel
                        egestas condimentum, libero erat semper lorem, nec dictum nibh libero at velit. Duis finibus
                        enim
                        lacus, et blandit ante
                        pulvinar vitae. Donec eleifend massa id fringilla pulvinar. Pellentesque imperdiet purus lorem,
                        quis
                        eleifend elit
                        aliquam cursus. In eget turpis egestas, aliquam nisl sed, cursus mi. Sed a nulla eu arcu
                        accumsan
                        tempor et id dolor.
                        Curabitur nec orci sit amet nunc tristique vehicula. Ut in fermentum nisi.

                        Pellentesque maximus ex in nulla lobortis ultrices. Morbi accumsan congue ipsum eu tempor.
                        Aenean at
                        magna convallis,
                        luctus metus a, fringilla nunc. Nulla sagittis consequat massa at porttitor. Ut non varius
                        velit.
                        Maecenas nunc velit,
                        ultricies mattis fermentum vitae, vestibulum sed mi. Praesent in est a turpis mattis accumsan ac
                        ut
                        felis. In vel ex
                        quis ante pretium feugiat. Mauris augue velit, placerat a lectus sed, auctor molestie quam. In
                        sodales metus nec purus
                        consequat mattis. Pellentesque ornare, massa ac convallis porttitor, justo ligula fermentum
                        nibh,
                        eget cursus augue
                        neque at erat. Sed mollis, est a pulvinar vestibulum, orci massa malesuada arcu, rhoncus
                        malesuada
                        purus nibh sed nisl.
                        Praesent posuere purus ut nulla auctor laoreet ac a dolor. Donec et iaculis neque. Orci varius
                        natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique accumsan odio vitae
                        tincidunt. Suspendisse
                        nunc sem, fermentum luctus varius sed, placerat aliquam turpis. Quisque tempus venenatis nunc et
                        elementum. Mauris
                        cursus dapibus dictum. Integer lacinia ipsum at eleifend blandit. Quisque neque erat, ultricies
                        vel
                        dignissim ac,
                        placerat convallis dolor. Phasellus faucibus bibendum libero, sed vehicula tellus consectetur
                        nec.
                        Sed diam eros,
                        elementum et lacus sed, vehicula dignissim libero. Orci varius natoque penatibus et magnis dis
                        parturient montes,
                        nascetur ridiculus mus. Mauris vitae magna feugiat, volutpat enim in, ullamcorper mi. Praesent
                        faucibus urna augue, quis
                        scelerisque sem mattis quis. Ut pulvinar diam vitae lectus sodales, ac condimentum ex feugiat.
                        Praesent vel pellentesque
                        mi, a ullamcorper nunc.
                    </p>
                </section>
                <aside>
                    <h4>Read more articles here</h4>
                    <div class="related-articles">
                        <a href="#">
                            <img src="image.png" alt="Related Article Image">
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </a>
                    </div>
                </aside>
            </div>
        </article>


    </main>
</body>

</html>